<div class="overlay">
    <h1>{{title|titlecase</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <app-quotes-form (add)="addedQuote($event"></app-quotes-form>
            </div>

        </div>
    </div>
    <!-- <ul>
        <div *ngFor='let quote of quotes; let i =index'>
            <li>
                {{quotes.name}}
                <app-quotes-detail [quotes]='quotes'></app-quotes-detail>

            </li>
        </div>

    </ul> -->
</div>