h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(69, 23, 235);
    background-color: beige;
    font-style: italic;
    text-align: center;
    font-weight: bolder;
    padding-bottom: 2%;
    padding-top: 2%;
}

h4 {
    font-family: 'Caveat', cursive;
}

.overlay {
    background-color: rgba(56, 176, 231, 0.267);
    border-radius: 5px;
    margin-top: 4%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 5%;
    padding-top: 1%;
    padding-left: 1%;
    padding-bottom: 5%;
}

#more {
    margin: 5px;
}