/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import '~font-awesome/css/font-awesome.css';
@import url('https://fonts.googleapis.com/css?family=ABeeZee|Architects+Daughter|Handlee|Indie+Flower|Patrick+Hand|Special+Elite&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
}