.form-control {
    color: white;
    background: transparent;
    font-weight: 570;
}

label {
    color: white;
    font-weight: 600;
}

hr {
    width: 50%;
    height: 2px;
    background-color: rgb(250, 246, 24);
}

.heading {
    color: rgb(47, 82, 236);
    text-align: center;
    padding-top: 2%;
    border: 2px solid green;
    background-color: aqua;
    box-shadow: inset;
}

.container-fluid {
    background-color: rgba(0, 0, 0, 0.374);
    border-radius: 4px;
    padding-bottom: 5%;
    box-shadow: 2px 2px 3px 2px black;
    font-family: 'Caveat', cursive;
    margin-bottom: 5%;
}